.yellow{
	-fx-text-fill:#000;
	-fx-color:#0ff;
	-fx-font-size:3em;
}

 #outsidePane{
	-fx-background-color:#97a544;
}

.overlayPane{
	-fx-background-color:#FFFFFF;
}

Button{
	-fx-background-color:#FFFFFF;
	-fx-text-fill:#97a544;
	-fx-font-family: Century Gothic;
	-fx-font-size: 8.5px;
	-fx-font-weight: bold;
	-fx-border-color: #97a544;
	-fx-border-style: solid;
	-fx-border-width: 2px;
}
Line{
	-fx-stroke: #97a544;
}
ListView{
	    -fx-background-color: #FFFFFF;
   	 	-fx-border-color: #FFFFFF;
}
#text{
	-fx-color:#5e5453 ;
	-fx-font-family: Century Gothic;
	-fx-font-size:14px;
}

#priceText{
	-fx-font-family: Century Gothic;
	-fx-font-size:8px;
	-fx-color:#5e5453 ;
}
#drinksText{
	-fx-font-family: Century Gothic;
	-fx-font-size:7px;
	-fx-color:#5e5453 ;
}

.list-cell {
  -fx-font: 6pt "Century Gothic";
}